h1 {
    color: brown;
    text-align: center;
    font-size: 40px;
}


.res h2{
    display: flex;
    justify-content: center;
    color: black;
}

.res h2 img{
    background-color: cyan;
}

.boutons{
    display:flex;
    justify-content: center;
}

.message{
    color: red;
    text-align: center;
}