h1 {
    color: darkgreen;
    text-align: center;
    font-size: 40px;
}


.res h2{
    display: flex;
    justify-content: center;
    color: darkcyan;
}

.res h2 img{
    background-color: lightskyblue;
}

.boutons{
    display:flex;
    justify-content: center;
}

.message{
    color: deepskyblue;
    text-align: center;
}