h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

.search{
    display: flex;
    justify-content: space-around;
    height: 2cm;
}

.search a {
    color: darkgoldenrod;
    font-size: xx-large;
}