@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.form-control{
    width: 10cm;
}

.form-group{
    display: flex;
    justify-content: right;
    margin-right: 8cm;
}

.boutons{
    display: flex;
    justify-content: right;
    margin-right: 10cm;
}

.message{
    color: deepskyblue;
    text-align: right;
    margin-right: 8cm;
}

.error{
    color: red;
    text-align: right;
    margin-right: 2cm;
}